* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

:root {
  --cor-principal: #312E38;
  --orange: #ff9000;
  --cor-branco: #f4ede8;
  --cor-preto: #232129;
  --cor-cinza: #666360;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 0.9375rem 0.625rem;
  flex: 1;
}

body {
  overflow-x: hidden;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--cor-principal);
}

.container {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
}

/********** CABEÇALHO **********/

#header-main {
  border-bottom: 2px solid var(--orange);
  margin-bottom: 10px;
}

#nav-main {
  display: flex;

  padding: 0.9375rem;
}

#logo {
  max-width: 90px;
}

#form {
  border: 2px solid var(--cor-principal);
}

#form:focus {
  border: 2px solid var(--orange);
}

#search {
  max-width: inherit;
  width: inherit;
  height: inherit;

  padding-left: 20px;

  font-weight: 200;
  color: var(--cor-cinza);

  border: 2px solid var(--cor-preto);
  border-radius: 5px;
  transition: 0.7s;
  background-color: var(--cor-preto);
  outline: 0;
}

#search:focus {
  border: 2px solid var(--orange);
}

/*********** MOVIES ***********/

.container-movies {
  display: grid;
}

.card {
  max-width: 210px;

  background-color: var(--cor-preto);
  border-radius: 5px;
  
  display: flex;
  flex-direction: column;
}

.figure img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.box-info {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 0 5px 5px;

  color: var(--cor-branco);
}

.box-info p {
  flex: 1;
  margin-bottom: 5px;
}

.box-info > span {
  display: flex;
  align-items: flex-end;
}

.star {
  width: 22px;
  margin-right: 5px;
}

.vote_average {
  height: 100%;

  display: inline-flex;
  align-items: center;
}


/********** PAGINAÇÃO **********/
.pagination {
  display: flex;
  justify-content: flex-end;

  padding: 0.625rem 0;

  color: var(--cor-branco);
}
#numberPages a {
  margin: 0 3px;
  padding: 2px 4px;

  cursor: pointer;
}

/********** PÁGINA DAS INFORMAÇÃOES DO FILME **********/
#background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

#container-overlaid {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);

  display: flex;
  flex-direction: column;
}

#header-movie {
  border-bottom: 2px solid var(--orange);
}

#nav-movie {
  padding: 0.625rem 0.625rem;
}

#nav-movie a {
  display: flex;
  align-items: center;

  color: var(--cor-branco);
  font-weight: bold;
}

#header-movie img {
  margin-right: 10px;
}

#main-movie {
  flex: 1;
}

#container-movie-info {
  display: grid;
  height: auto;
  /* background-color: seagreen; */
}

/* BOX INFO MOVIES */
#box-info-movie {
  padding: 0.625rem 0.5rem;
  color: var(--cor-branco);
}

#name-movie {
  text-align: left;
  text-transform: uppercase;
}

#sinopse-movie {
  color: var(--cor-branco);
}

#button-watch-movie {
  margin: 7px 0;
  padding: 5px 10px;
  cursor: pointer;

  background-color: var(--orange);
  color: var(--cor-branco);
  border: 0;
  border-radius: 5px;
  transition: background-color 0.2s;
}

#button-watch-movie:hover {
  background-color: #e07f00;
}

/********** RODAPÈ **********/

footer {
  padding: 1rem 0;

  border-top: 2px solid var(--orange);

  color: var(--cor-branco);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  font-size: 1.125rem;
}

footer p {
  margin-top: 1rem;
}

.icon-social {
  width: 1.5625rem;
  margin-left: 0.625rem;
  filter: invert(48%) sepia(98%) saturate(1043%) hue-rotate(3deg) brightness(106%) contrast(103%);
}

/********** RESPONSIVIDADE DAS FONTES **********/

@media(min-width: 0px) and (max-width: 455px) {
  html {
    font-size: 14px;
  }
}

@media(min-width: 456px) and (max-width: 780px) {
  html {
    font-size: 15px;
  }
}

@media(min-width: 781px) {
  html {
    font-size: 16px;
  }
}

/********** RESPONSIVIDADE DO CONTAINER DOS FILMES **********/

@media(min-width: 0px) and (max-width: 455px) {
  .container-movies {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media(min-width: 456px) and (max-width: 780px) {
  .container-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

}

@media(min-width: 781px) {
  .container-movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5625rem;
  }
}

/********** CARREGAMENTO **********/

.box-loader {
  width: 100vw;
  height: 100vh;
  background-color: var(--cor-preto);

  position: absolute;
  z-index: 999;

  display: none;
  justify-content: center;
  align-items: center;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/********** MODAL **********/
#modal {
  min-width: 100vw;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  position: absolute;
  z-index: 999;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #content-modal {
  width: 100%;
  max-width: 600px;
  color: var(--cor-branco);
  text-align: center;
  padding: 8px;
} */

/* #content-modal h2 { */
#modal h2 {
  max-width: 600px;
  width: 100%;
  font-size: 30px;
  background-color: var(--orange);
  border-radius: 5px;
  padding: 5px 10px;
}

/* #modal p {
  color: #ffffff;
  display: block;
  background-color: var(--orange);
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
} */

embed {
  max-width: 600px;
  width: 100%;

  padding-bottom: 10px;
}

/********** RESPONSIVIDADE DA MODAL **********/

@media screen and (min-width: 0px) {
  embed {
    height: 340px;
  }
}

@media screen and (min-width: 456px) and (max-width: 780px) {
  embed {
    height: 360px;
  }
}

@media screen and (min-width: 781px) {
  embed {
    height: 400px;
  }
}
/********** RESPONSIVIDADE DA PÁGINA DAS INFORMAÇÕES DO FILME **********/

@media screen and (min-width: 0px) {
  #container-movie-info {
    grid-template-columns: repeat(2, 1fr);
  }

  #sinopse-movie {
    grid-column: 1/3;
  }

  #name-movie, #release-date, #genres, #box-vote-movie {
    margin-top: 0.5rem;
  }

  #name-movie {
    font-size: 1.125rem;
  }

  #release_date, #genres {
    font-size: 1rem;
  }

  .star-movie {
    width: 20px;
  }

  #sinopse-movie {
    margin-top: 0.5rem;
  }

  #poster {
    width: 100%;
  }
}

@media screen and (min-width: 456px) and (max-width: 780px) {
  #name-movie {
    font-size: 1.5rem;
  }

  #release-date, #genres, #sinopse-movie {
    font-size: 1.125rem;
  }

  #button-watch-movie {
    font-size: 1rem;
  }

  .star-movie {
    width: 22px;
  }

  #image-info-movie {
    display: flex;
    justify-content: center;
  }

  #poster {
    width: 100%;
    max-width: 280px;
    max-height: 400px;
  }
}

@media screen and (min-width: 781px) {
  #name-movie {
    font-size: 1.875rem;
  }

  #release-date, #genres, #sinopse-movie, #button-watch-movie {
    font-size: 22px;
  }

  #button-watch-movie {
    font-size: 1.1875rem;
  }

  .star-movie {
    width: 24px;
  }

  #image-info-movie {
    display: flex;
    justify-content: center;
  }

  #poster {
    width: auto;
    max-height: 550px;
  }
}

/********** RESPONSIVIDADE DO CABEÇALHO **********/
@media screen and (min-width: 0px) and (max-width: 780px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  #form {
    width: 100%;
    height: 40px;

    margin-top: 1.25rem;
  }
}

@media screen and (min-width: 781px) {
  nav {
    align-items: center;
    justify-content: space-between;
  }

  #form {
    width: 100%;
    max-width: 450px;
    height: 40px;

    margin-top: 1.25rem;
  }
}










































































































































































/* a {
  margin: 0 3px;
  cursor: pointer;
}

a:hover {
  color: green;
  font-weight: bold;
}

div {
  display: inline;
} */